<%= "#{@game.player_1.name} vs. #{@game.player_2.name}" %>
<br>
<br>
<br>
<%= "#{@game.player_2.name} #{@game.player_2.hp}/60hp" %>
<form action="/player-2-attacked" method="post">
  <label for="player_1_attack_1">
    Attack:
    <input type="submit" value="Fire Attack">
  </label>
</form>
<br>
<%= @message %>
