<%= "#{@player_1} vs. #{@player_2}" %>
<br>
<br>
<br>
<%= "#{@player_2} 60/60hp" %>
<form action="/confirmation" method="post">
  <label for="player_1_attack_1">
    Attack:
    <input type="submit" value="Fire Attack">
  </label>
</form>
